<tr>
	<td>
	[VesselFlag]
	</td>
	<td>
	[VesselName]
	</td>
	<td>
	[UniversalTime]
	</td>
	<td>
	[UTCtime]
	</td>
	<td>
	[MissionTime]
	</td>
	<td>
	[Situation]
	</td>
	<td>
	[MainBody]
	</td>
	<td>
	[ControlLevel]
	</td>
	<td>
	[Altitude]
	</td>
	<td>
	[Speed]
	</td>
	<td>
	[EventType]
	</td>
	<td>
	[Notes-0]
	</td>
	<td>
	[Notes-1]
	</td>
	<td>
	[Notes]
	</td>
	<td>
	[Screenshot]
	</td>
</tr>

